amqp==5.0.2
attrs==20.3.0
billiard==3.6.3.0
celery==5.0.2
click==7.1.2
click-didyoumean==0.0.3
click-repl==0.1.6
iniconfig==1.1.1
kombu==5.0.2
packaging==20.7
pluggy==0.13.1
prompt-toolkit==3.0.8
py==1.9.0
pyparsing==2.4.7
pytest==6.1.2
pytz==2020.4
redis==3.5.3
six==1.15.0
toml==0.10.2
vine==5.0.0
wcwidth==0.2.5
